<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/admin/head.ejs') %>
</head>
<body class="skin-red-dark fixed-layout">
  <%- include('../partials/admin/loader.ejs') %>
  <div id="main-wrapper">
    <%- include('../partials/admin/header.ejs') %>
    <%- include('../partials/admin/sidebar.ejs') %>
    <div class="page-wrapper">
      <!-- ============================================================== -->
      <!-- Container fluid  -->
      <!-- ============================================================== -->
      <div class="container-fluid">
          <!-- ============================================================== -->
          <!-- Bread crumb and right sidebar toggle -->
          <!-- ============================================================== -->
          <div class="row page-titles">
              <div class="col-md-5 align-self-center">
                  <h4 class="text-themecolor">Dashboard</h4>
              </div>
              <div class="col-md-7 align-self-center text-right">
                  <div class="d-flex justify-content-end align-items-center">
                      <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                          <li class="breadcrumb-item active">Dashboard</li>
                      </ol>
                  </div>
              </div>
          </div>
          <!-- ============================================================== -->
          <!-- End Bread crumb and right sidebar toggle -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- Info box -->
          <!-- ============================================================== -->
          <div class="card-group">
              <div class="card">
                  <div class="card-body">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="d-flex no-block align-items-center">
                                  <div>
                                      <h3><i class="icon-screen-desktop"></i></h3>
                                      <p class="text-muted">MYNEW CLIENTS</p>
                                  </div>
                                  <div class="ml-auto">
                                      <h2 class="counter text-primary">23</h2>
                                  </div>
                              </div>
                          </div>
                          <div class="col-12">
                              <div class="progress">
                                  <div class="progress-bar bg-primary" role="progressbar" style="width: 85%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Column -->
              <!-- Column -->
              <div class="card">
                  <div class="card-body">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="d-flex no-block align-items-center">
                                  <div>
                                      <h3><i class="icon-note"></i></h3>
                                      <p class="text-muted">NEW PROJECTS</p>
                                  </div>
                                  <div class="ml-auto">
                                      <h2 class="counter text-warning">169</h2>
                                  </div>
                              </div>
                          </div>
                          <div class="col-12">
                              <div class="progress">
                                  <div class="progress-bar bg-warning" role="progressbar" style="width: 85%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Column -->
              <!-- Column -->
              <div class="card">
                  <div class="card-body">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="d-flex no-block align-items-center">
                                  <div>
                                      <h3><i class="icon-doc"></i></h3>
                                      <p class="text-muted">NEW INVOICES</p>
                                  </div>
                                  <div class="ml-auto">
                                      <h2 class="counter text-info">157</h2>
                                  </div>
                              </div>
                          </div>
                          <div class="col-12">
                              <div class="progress">
                                  <div class="progress-bar bg-info" role="progressbar" style="width: 85%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Column -->
              <!-- Column -->
              <div class="card">
                  <div class="card-body">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="d-flex no-block align-items-center">
                                  <div>
                                      <h3><i class="icon-bag"></i></h3>
                                      <p class="text-muted">All PROJECTS</p>
                                  </div>
                                  <div class="ml-auto">
                                      <h2 class="counter text-success">431</h2>
                                  </div>
                              </div>
                          </div>
                          <div class="col-12">
                              <div class="progress">
                                  <div class="progress-bar bg-success" role="progressbar" style="width: 85%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- ============================================================== -->
      <!-- End Container fluid  -->
      <!-- ============================================================== -->
    </div>
    <%- include('../partials/admin/footer.ejs') %>
  </div>
  <%- include('../partials/admin/script.ejs') %>
</body>
</html>