<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Allaia | Bootstrap eCommerce Template - ThemeForest</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">
	
    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/account.css" rel="stylesheet">
	<!-- SPECIFIC CSS -->
    <link href="css/home_1.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="css/custom.css" rel="stylesheet">

</head>
<body>
    <div id="page">
        <header class="version_1">
			<div class="layer"></div><!-- Mobile menu overlay mask -->
			<div class="main_header">
				<div class="container">
					<div class="row small-gutters">
						<div class="col-xl-3 col-lg-3 d-lg-flex align-items-center">
							<div id="logo">
								<a href="/"><img src="img/logo.svg" alt="" width="100" height="35"></a>
							</div>
						</div>
						<nav class="col-xl-6 col-lg-7">
							<a class="open_close" href="javascript:void(0);">
								<div class="hamburger hamburger--spin">
									<div class="hamburger-box">
										<div class="hamburger-inner"></div>
									</div>
								</div>
							</a>
							<!-- Mobile menu button -->
							<div class="main-menu">
								<div id="header_menu">
									<a href="index.html"><img src="img/logo_black.svg" alt="" width="100" height="35"></a>
									<a href="#" class="open_close" id="close_in"><i class="ti-close"></i></a>
								</div>
								<ul>
									<li>
										<a href="/">Home</a>
									</li>
									<li>
										<a href="#">Shop</a>
                                    </li>
                                    <li>
										<a href="#">About</a>
									</li>
									<li>
										<a href="#">Blog</a>
                                    </li>
                                    <li>
										<a href="#">Contact</a>
									</li>
								</ul>
							</div>
							<!--/main-menu -->
						</nav>
					</div>
					<!-- /row -->
				</div>
			</div>
			<!-- /main_header -->

			<div class="main_nav Sticky">
				<div class="container">
					<div class="row small-gutters">
						<div class="col-xl-3 col-lg-3 col-md-3">
							<nav class="categories">
								<ul class="clearfix">
									<li><span>
											<a href="#">
												<span class="hamburger hamburger--spin">
													<span class="hamburger-box">
														<span class="hamburger-inner"></span>
													</span>
												</span>
												Categories
											</a>
										</span>
										<div id="menu">
											<ul>
												<li><span><a href="#0">Collections</a></span>
													<ul>
														<li><a href="listing-grid-1-full.html">Trending</a></li>
														<li><a href="listing-grid-2-full.html">Life style</a></li>
														<li><a href="listing-grid-3.html">Running</a></li>
														<li><a href="listing-grid-4-sidebar-left.html">Training</a></li>
														<li><a href="listing-grid-5-sidebar-right.html">View all Collections</a></li>
													</ul>
												</li>
												<li><span><a href="#">Men</a></span>
													<ul>
														<li><a href="listing-grid-6-sidebar-left.html">Offers</a></li>
														<li><a href="listing-grid-7-sidebar-right.html">Shoes</a></li>
														<li><a href="listing-row-1-sidebar-left.html">Clothing</a></li>
														<li><a href="listing-row-3-sidebar-left.html">Accessories</a></li>
														<li><a href="listing-row-4-sidebar-extended.html">Equipment</a></li>
													</ul>
												</li>
												<li><span><a href="#">Women</a></span>
													<ul>
														<li><a href="listing-grid-1-full.html">Best Sellers</a></li>
														<li><a href="listing-grid-2-full.html">Clothing</a></li>
														<li><a href="listing-grid-3.html">Accessories</a></li>
														<li><a href="listing-grid-4-sidebar-left.html">Shoes</a></li>
													</ul>
												</li>
												<li><span><a href="#">Boys</a></span>
													<ul>
														<li><a href="listing-grid-6-sidebar-left.html">Easy On Shoes</a></li>
														<li><a href="listing-grid-7-sidebar-right.html">Clothing</a></li>
														<li><a href="listing-row-3-sidebar-left.html">Must Have</a></li>
														<li><a href="listing-row-4-sidebar-extended.html">All Boys</a></li>
													</ul>
												</li>
												<li><span><a href="#">Girls</a></span>
													<ul>
														<li><a href="listing-grid-1-full.html">New Releases</a></li>
														<li><a href="listing-grid-2-full.html">Clothing</a></li>
														<li><a href="listing-grid-3.html">Sale</a></li>
														<li><a href="listing-grid-4-sidebar-left.html">Best Sellers</a></li>
													</ul>
												</li>
												<li><span><a href="#">Customize</a></span>
													<ul>
														<li><a href="listing-row-1-sidebar-left.html">For Men</a></li>
														<li><a href="listing-row-2-sidebar-right.html">For Women</a></li>
														<li><a href="listing-row-4-sidebar-extended.html">For Boys</a></li>
														<li><a href="listing-grid-1-full.html">For Girls</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</li>
								</ul>
							</nav>
						</div>
						<div class="col-xl-6 col-lg-7 col-md-6 d-none d-md-block">
							<div class="custom-search-input">
								<input type="text" placeholder="Search over 10.000 products">
								<button type="submit"><i class="header-icon_search_custom"></i></button>
							</div>
						</div>
						<div class="col-xl-3 col-lg-2 col-md-3">
							<ul class="top_tools">
								<li>
									<div class="dropdown dropdown-cart">
										<a href="cart.html" class="cart_bt"><strong>2</strong></a>
										<div class="dropdown-menu">
											<ul>
												<li>
													<a href="product-detail-1.html">
														<figure><img src="img/products/product_placeholder_square_small.jpg" data-src="img/products/shoes/thumb/1.jpg" alt="" width="50" height="50" class="lazy"></figure>
														<strong><span>1x Armor Air x Fear</span>$90.00</strong>
													</a>
													<a href="#0" class="action"><i class="ti-trash"></i></a>
												</li>
												<li>
													<a href="product-detail-1.html">
														<figure><img src="img/products/product_placeholder_square_small.jpg" data-src="img/products/shoes/thumb/2.jpg" alt="" width="50" height="50" class="lazy"></figure>
														<strong><span>1x Armor Okwahn II</span>$110.00</strong>
													</a>
													<a href="0" class="action"><i class="ti-trash"></i></a>
												</li>
											</ul>
											<div class="total_drop">
												<div class="clearfix"><strong>Total</strong><span>$200.00</span></div>
												<a href="cart.html" class="btn_1 outline">View Cart</a><a href="checkout.html" class="btn_1">Checkout</a>
											</div>
										</div>
									</div>
									<!-- /dropdown-cart-->
								</li>
								<li>
									<a href="#0" class="wishlist"><span>Wishlist</span></a>
								</li>
								<li>
									<div class="dropdown dropdown-access">
										<a href="account.html" class="access_link"><span>Account</span></a>
										<div class="dropdown-menu">
											<ul>
												<% if(login){ %>
													<li>
														<a href="account.html"><i class="ti-package"></i>My Orders</a>
													</li>
													<li>
														<a href="account.html"><i class="ti-user"></i>My Profile</a>
													</li> 
													<li>
														<a href="/logout"><i class="ti-user"></i>Logout</a>
													</li>
												<% } else { %>
													<li>
														<a href="/login"><i class="ti-user"></i>Login</a>
													</li>
													<li>
														<a href="/register"><i class="ti-user"></i>Register</a>
													</li>
												<% } %>
												
											</ul>
										</div>
									</div>
									<!-- /dropdown-access-->
								</li>
								<li>
									<a href="javascript:void(0);" class="btn_search_mob"><span>Search</span></a>
								</li>
								<li>
									<a href="#menu" class="btn_cat_mob">
										<div class="hamburger hamburger--spin" id="hamburger">
											<div class="hamburger-box">
												<div class="hamburger-inner"></div>
											</div>
										</div>
										Categories
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- /row -->
				</div>
				<div class="search_mob_wp">
					<input type="text" class="form-control" placeholder="Search over 10.000 products">
					<input type="submit" class="btn_1 full-width" value="Search">
				</div>
				<!-- /search_mobile -->
			</div>
			<!-- /main_nav -->
        </header>
        <%- body %>
        <footer class="revealed">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<h3 data-target="#collapse_1">Quick Links</h3>
						<div class="collapse dont-collapse-sm links" id="collapse_1">
							<ul>
								<li><a href="about.html">About us</a></li>
								<li><a href="help.html">Faq</a></li>
								<li><a href="help.html">Help</a></li>
								<li><a href="account.html">My account</a></li>
								<li><a href="blog.html">Blog</a></li>
								<li><a href="contacts.html">Contacts</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<h3 data-target="#collapse_2">Categories</h3>
						<div class="collapse dont-collapse-sm links" id="collapse_2">
							<ul>
								<li><a href="listing-grid-1-full.html">Clothes</a></li>
								<li><a href="listing-grid-2-full.html">Electronics</a></li>
								<li><a href="listing-grid-1-full.html">Furniture</a></li>
								<li><a href="listing-grid-3.html">Glasses</a></li>
								<li><a href="listing-grid-1-full.html">Shoes</a></li>
								<li><a href="listing-grid-1-full.html">Watches</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
							<h3 data-target="#collapse_3">Contacts</h3>
						<div class="collapse dont-collapse-sm contacts" id="collapse_3">
							<ul>
								<li><i class="ti-home"></i>97845 Baker st. 567<br>Los Angeles - US</li>
								<li><i class="ti-headphone-alt"></i>+94 423-23-221</li>
								<li><i class="ti-email"></i><a href="#0">info@allaia.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
							<h3 data-target="#collapse_4">Keep in touch</h3>
						<div class="collapse dont-collapse-sm" id="collapse_4">
							<div id="newsletter">
							    <div class="form-group">
							        <input type="email" name="email_newsletter" id="email_newsletter" class="form-control" placeholder="Your email">
							        <button type="submit" id="submit-newsletter"><i class="ti-angle-double-right"></i></button>
							    </div>
							</div>
							<div class="follow_us">
								<h5>Follow Us</h5>
								<ul>
									<li><a href="#0"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/twitter_icon.svg" alt="" class="lazy"></a></li>
									<li><a href="#0"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/facebook_icon.svg" alt="" class="lazy"></a></li>
									<li><a href="#0"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/instagram_icon.svg" alt="" class="lazy"></a></li>
									<li><a href="#0"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/youtube_icon.svg" alt="" class="lazy"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- /row-->
				<hr>
				<div class="row add_bottom_25">
					<div class="col-lg-12 text-center">
						<ul class="additional_links">
							<li><span>© <%= new Date().getFullYear();%> Allaia All Rights Reserved.</span></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
    </div>
    <div id="toTop"></div><!-- Back to top button -->
	
	<!-- COMMON SCRIPTS -->
    <script src="js/common_scripts.min.js"></script>
    <script src="js/main.js"></script>
	
	<!-- SPECIFIC SCRIPTS -->
	<script src="js/carousel-home.min.js"></script>
</body>
</html>