<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/front/head.ejs') %>
</head>
<body>
    <div id="page">
        <%- include('partials/front/header.ejs') %>
        <main class="bg_gray">
        <div class="container margin_30">
            <div class="page_header">
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Category</a></li>
                        <li>Page active</li>
                    </ul>
                </div>
            </div>
        <!-- /page_header -->
        
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-6 col-md-8">
                    <%- include('partials/messages.ejs') %>
                    <div class="box_account">
                        <div class="form_container text-center">
                            <h3 class="client">Login</h3>
                            <form action="/login" method="POST">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password" id="password" value="" placeholder="Password">
                                </div>
                                <div class="text-center"><input type="submit" value="Log In" class="btn_1 full-width"></div>
                                <p class="lead mt-4">Create new Account? <a href="/register">Register</a></p>
                            </form>
                            </div>
                        <!-- /form_container -->
                    </div>
                    <!-- /box_account -->
                    <!-- /row -->
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
        </main>
        <%- include('partials/front/footer.ejs') %>
    </div>
    <%- include('partials/front/script.ejs') %>
</body>
</html>