<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/front/head.ejs') %>
</head>
<body>
    <div id="page">
        <%- include('partials/front/header.ejs') %>
        <main class="bg_gray">
        <div class="container margin_30">
            <div class="page_header">
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Category</a></li>
                        <li>Page active</li>
                    </ul>
                </div>
            </div>
        <!-- /page_header -->
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-6 col-md-8 text-center">
                    <%- include('partials/messages.ejs') %>
                    <div class="box_account">
                        <div class="form_container">
                            <h3 class="new_client">Sign Up</h3>
                            <form action="/register" method="POST">
                                <div class="form-group">
                                    <input type="name" class="form-control" name="name" id="name" placeholder="Name" value="<%= typeof name != 'undefined' ? name : '' %>">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" value="<%= typeof email != 'undefined' ? email : '' %>">
                                </div>
                                <div class="form-group">
                                <input type="password" class="form-control" name="password" id="password" value="" placeholder="Password" value="<%= typeof password != 'undefined' ? password : '' %>">
                                </div>
                                <div class="form-group">
                                <input type="password" class="form-control" name="password2" id="password2" value="" placeholder="Confirm Password" value="<%= typeof password2 != 'undefined' ? password2 : '' %>">
                                </div>
                                <div class="text-center"><input type="submit" value="Register" class="btn_1 full-width"></div>
                                <p class="lead mt-4">Have An Account? <a href="/login">Login</a></p>
                            </form>
                        </div>
                        <!-- /form_container -->
                    </div>
                    <!-- /box_account -->
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
        </main>
        <%- include('partials/front/footer.ejs') %>
    </div>
    <%- include('partials/front/script.ejs') %>
</body>
</html>