<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/admin/head.ejs') %>
</head>
<body class="skin-red-dark fixed-layout">
  <%- include('../../partials/admin/loader.ejs') %>
  <div id="main-wrapper">
    <%- include('../../partials/admin/header.ejs') %>
    <%- include('../../partials/admin/sidebar.ejs') %>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h4 class="text-themecolor">Dashboard</h4>
                </div>
                <div class="col-md-7 align-self-center text-right">
                    <div class="d-flex justify-content-end align-items-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                            <li class="breadcrumb-item active">Users</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title" style="float: left;">Users</h4>
                            <div class="table-responsive m-t-40">
                                <table id="myTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% var i=1; list.forEach(function(li) { %>
                                            <% if(li.role==0) { %>
                                        <tr>
                                            <td><%= i %></td>
                                            <td><%= li.name %></td>
                                            <td><%= li.email %></td>
                                            
                                        </tr>
                                            <%  } %>
                                        <% i++; }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../../partials/admin/footer.ejs') %>
  </div>
  <%- include('../../partials/admin/script.ejs') %>
</body>
</html>