<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/admin/head.ejs') %>
</head>
<body class="skin-red-dark fixed-layout">
  <%- include('../../partials/admin/loader.ejs') %>
  <div id="main-wrapper">
    <%- include('../../partials/admin/header.ejs') %>
    <%- include('../../partials/admin/sidebar.ejs') %>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h4 class="text-themecolor">Dashboard</h4>
                </div>
                <div class="col-md-7 align-self-center text-right">
                    <div class="d-flex justify-content-end align-items-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                            <li class="breadcrumb-item active">Add Product</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="m-b-0">Add Product</h4>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-body">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-2 d-flex justify-content-end align-items-center">Title</label>
                                        <div class="col-md-10">
                                            <input type="text" placeholder="Title" class="form-control" name="title" id="title" value="" >
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-2 d-flex justify-content-end align-items-center">Description & Specificati</label>
                                        <div class="col-md-5">
                                            <textarea class="form-control mymce" name="description" rows="10" id="description" placeholder="Description"  ></textarea>
                                        </div>
                                        <div class="col-md-5">
                                            <textarea class="form-control mymce" name="specifications" rows="10" id="specifications" placeholder="Specifications"  ></textarea>
                                        </div>
                                        
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-2 d-flex justify-content-end align-items-center">Specifications</label>
                                        
                                        
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../../partials/admin/footer.ejs') %>
  </div>
  <%- include('../../partials/admin/script.ejs') %>
</body>
</html>