<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                    <a class="waves-effect waves-dark" href="/admin">
                        <i class="icon-home"></i>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="/admin/users" aria-expanded="false">
                        <i class="icon-user"></i>
                        <span class="hide-menu">Users</span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="/admin/products" aria-expanded="false">
                        <i class="icon-list"></i>
                        <span class="hide-menu">Products</span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="/admin/logout" aria-expanded="false">
                        <i class="icon-logout"></i>
                        <span class="hide-menu">Log Out</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>